<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<p>
  <b>Assets:</b>
  <% @user.assets.each do |asset| %>
		<%= link_to(image_tag(asset.image.url(:thumb)), asset.image.url) %>
	<% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>